
  <div class="container">
      <!-- Start Single Feature -->
      <div class="single-feature mt-5 center">
        <i class="lni lni-investment"></i>
        <h2>Innovative business
            <span>Easy to customize</span>
        </h2>
        <div class="row">
            <div class="col-4">    
                <app-elmt [voiture]="myvoiture"></app-elmt>
            </div>
            <div class="col-4">    
                <app-elmt [voiture]="myvoiture"></app-elmt>
            </div>
            <div class="col-4">    
                <app-elmt [voiture]="myvoiture"></app-elmt>
            </div>
        </div>
        <div class="row">
            <div class="col-4">    
                <app-elmt [voiture]="myvoiture"></app-elmt>
            </div>
            <div class="col-4">    
                <app-elmt [voiture]="myvoiture"></app-elmt>
            </div>
            <div class="col-4">    
                <app-elmt [voiture]="myvoiture"></app-elmt>
            </div>
        </div>
    </div>
  </div>
  
