.auto-card {
  box-sizing: border-box;
  margin: 20px auto;
  padding: 10px 30px;
  box-shadow: lightgray 4px 4px 20px;
  text-align: center;
  display: inline-block;
  width: 33%;
  img {
    width: auto;
  }
  h2 {
    margin-bottom: 0;
  }
  p {
    font-weight: 300;
    font-size: 16px;
  }
}
